* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom right, #00d2ff, #3a7bd5, #7742B2, #CC0099, #FDB813);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 400px;
    transform: translateY(-50px);
    opacity: 0;
    animation: fadeInUp 0.5s forwards;
  }
  
  @keyframes fadeInUp {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .login-card__title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .login-card__input-group {
    margin-bottom: 20px;
  }
  
  .login-card__label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .login-card__input {
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 12px;
    width: 100%;
    font-size: 16px;
    background-color: #F2F2F2;
    color: #333;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .login-card__input:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
  }
  
  .login-card__input:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .login-card__input::placeholder {
    color: #aaa;
  }
  
  .login-card__button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 0;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
  }
  
  .login-card__button:hover {
    background-color: #0069d9;
  }
  
  .login-card__button:active {
    background-color: #005c9a;
  }
  